/* .flip-container {
    perspective: 1000px;
    display: inline-block;
    border: 1px solid white;
    background: black;
}

.flip-container.flipped .flipper {
    transform: rotate(180deg);
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.font,
.back {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
}

.back {
    z-index: 2;
}

.font {
    /* for firefox */
    /* transform: rotate(180deg);
}

.font {
    transform: rotate(180deg);
} */ 

body {
    width: 100%;
    
}

.board {
    margin: 0px;
    padding: 0px;
}

